<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Profile</title>
</head>
<body>
<form action="POST">
<td><img src="{{payment.image.url}}"></td>
<h2>{{payment.first_name}}</h2>
<h2>{{payment.last_name}}</h2>
<h5>{{payment.date}}</h5>
<h5>{{payment.time_in}}</h5>
<h5>{{payment.time_out}}</h5>
<!-- <h5>{{payment.profile}}</h5>
<h5>{{payment.edit}}</h5> -->


            
</form>

<style>
form{
    background-color:rgb(8, 92, 12);
    margin-left:380px;
    width:299px;
    padding:100px;
    font-size:20px;
    border-radius:20px;
    margin-right:300px;
    align-items:center;
    color:white;

}
img{
    height:150px;
    width:100px;
    border-radius:20px;
}
</style>
</body>
</html>